<ul>
  {{#link-to "announcements.new"}}
    New Announcement
  {{/link-to}}
  {{#each model as |announcement|}}
    {{#link-to "announcements.announcement" announcement}}
      <li>{{announcement.title}}</li>
    {{/link-to}}
  {{/each}}
</ul>
{{outlet}}
